<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="SettingKey1" value="Settings 1 Value"/>
    <add key="SettingKey2" value="Settings 2 Value"/>
  </appSettings>
  <CimClasses>
    <Class name="Zone" CimId="SCADA_ZONEXX" PlcId="zzZon" parent="none">

    </Class>
    <Class name="Safety Area" id="SCADA_SAFETY" PlcId="zzSA" parent="SCADA_ZONEXX">

    </Class>
    <Class name="Sequence" id="SCADA_SEQNCX" PlcId="zzSA" parent="SCADA_SAFETY">

    </Class>
    <Class name="Robot" id="SCADA_ROBOTX" parent="SCADA_SEQNCX">

    </Class>
    <Class name="Load Station" id="SCADA_LOADXX" parent="SCADA_SEQNCX">

    </Class>
    <Class name="Andon Station" id="SCADA_ANDONX" parent="SCADA_SEQNCX">

    </Class>
    
  </CimClasses>  
</configuration>
